NEXT_PUBLIC_SUPABASE_URL=https://ksxgqromrhhrmkfsqxur.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtzeGdxcm9tcmhocm1rZnNxeHVyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA0MDA1NTcsImV4cCI6MjA4NTk3NjU1N30.ElXH0S828nrEViKEYV48J989nBwQq7wddCKSnUYo7fA
SUPABASE_SERVICE_ROLE_KEY=(get from Supabase dashboard > Settings > API > service_role key)
ADMIN_PASSWORD=(set whatever you want)
